.react-flow__edge-path-selector:hover { cursor: pointer }
.react-flow__edge-path-selector:hover + .react-flow__edge-path, .react-flow__edge-path:hover  {
    stroke: #555;
    cursor: pointer;
}
.react-flow__edge-path-selector {
    fill: none;
    stroke: transparent;
    stroke-width: 40;
}

.react-flow__handle-top {
  top: -15px;
}
 
.react-flow__handle-bottom {
  bottom: -15px;
}

.react-flow__handle-left {
  left: -15px;
}
 
.react-flow__handle-right {
  right: -15px;
}
